.setup-container {
  padding-top: 56px;
  align-content: center;
  align-items: center;

  .MuiCard-root {
    background-color: #fff;
    min-height: 224pt;
    height: 224pt;
    max-height: 224pt;
  }

  a {
    text-decoration: none;
  }

  button {
    color: #ffffff;
    background: #4271f9;
  }

  .MuiStepIcon-root.MuiStepIcon-active {
    color: #4271f9;
  }

  .MuiStepIcon-root.MuiStepIcon-completed {
    color: #4271f9;
  }
}
