@import "../../Scss/mixins.scss";
@import "../../Scss/variables.scss";

h1 {
  @include h1;
}

.review-container {
  background: rgb(245, 245, 245);
  position: relative;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  .top-background {
    @include top;
  }

  .skills-main {
    z-index: 1;
    width: 100%;
    @include main;

    .skills-btns-dropdown {
      display: none;

      .btn {
        width: 178pt;
        height: 44pt;
        border-radius: 0.33rem;

        font-size: 1.6rem;
        font-weight: bold;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        text-transform: none;
        margin: 8pt;
      }

      @media (max-width: 990px) {
        .btn {
          width: 70%;
          font-size: 1.4rem;
        }
      }

      .primarybtn {
        @include primary-button;
      }
    }

    .skills-btns {
      .skills-grid {
        @include grid-12;

        .btn {
          @include button;
          height: 35pt;
          font-size: 1.2rem;
        }

        .primarybtn {
          @include primary-button;
        }
      }
    }
    //hide so we can show a dropdown menu instead
    @media (max-width: 990px) {
      .skills-btns {
        display: none;
      }
      .skills-btns-dropdown {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all 1s ease-out;

        .skills-dropdown-content {
          position: absolute;
          display: none;
          top: 85%;
          width: 70%;
          background-color: $primaryBlue;
          z-index: 300;

          ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
              font-size: 1.4rem;
              text-decoration: none;
              margin: 20px;
            }
          }
        }

        &:hover {
          .skills-dropdown-content {
            display: block;
          }
        }
      }
    }

    .radar-div {
      width: 486pt;
      border: 1px solid lightgrey;
      margin: 0;
      margin-top: 15px;
      margin-bottom: 50px;
      background: white;
      border-radius: 0.33rem;
    }
    @media (max-width: $max-width) {
      .radar-div {
        width: 100%;
      }
    }

    .inside-main {
      min-height: 257pt;
      width: 370pt;
      background: $white;
      margin: 10pt 5px 10pt 5pt;
      border-radius: 4pt;
      border: 1px solid lightgray;
      position: relative;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.01);
      }

      .inside-main-content {
        text-align: left;
        padding: 33pt 36pt 33pt 36pt;

        .MuiFormControl-root {
          width: 100%;
          .MuiOutlinedInput-root {
            border-radius: 0.8rem;
          }
        }
      }
    }

    @media (max-width: 990px) {
      .inside-main {
        width: 100%;
      }
    }
  }

  @media (max-width: 990px) {
    .skills-main {
      width: 90%;
    }
  }
}
