@import "../../Scss/variables.scss";
@import "../../Scss/mixins.scss";

h1 {
  @include h1;
  margin: 0;
}

.review-container {
  background: whitesmoke;
  position: relative;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  .top-background {
    background: $secondaryBlue;
    position: absolute;
    top: 0px;
    padding-top: 80px;
    margin: 0 auto;
    text-align: center;
    height: 50%;
    width: 100%;
    z-index: 0;
    color: $white;
  }

  @media (max-width: $max-width) {
    .top-background {
      height: 40%;
    }
  }

  .main {
    z-index: 1;
    background: transparent;
    border: none;
    position: absolute;
    top: 15%;
    // width: 75%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .inside-main {
      width: 100%;
      margin-bottom: 40px;

      h1 {
        color: $white;
      }
    }

    .grid {
      @include grid-2;
      grid-auto-flow: row;
      background: transparent;
      border: none;

      .grid-card {
        text-align: center;
        min-height: 253px;
        background: white;
        border-radius: 0.33rem;
        padding: 20px;

        .team-card {
          text-align: left;
          position: relative;
          background: $white;

          h3 {
            font-size: 3rem;
            font-weight: bolder;
            margin: 0;
            padding: 0;
          }

          p {
            font-size: 1.6rem;
            color: rgb(97, 103, 121);
          }

          .stepper-line {
            border-bottom: 4px solid;
            border-color: rgb(199, 199, 199);
            height: 20px;
            width: 65%;
            position: absolute;
            z-index: 1;
            top: 99px;
            left: 50px;
          }

          @media (max-width: $max-width) {
            .stepper-line {
              left: 55px;
            }
          }

          .MuiStepper-root {
            padding: 20px;
            padding-top: 15px;

            .MuiStepConnector-lineHorizontal {
              border-top-style: none;
              border-top-width: none;

              position: absolute;
            }

            .MuiStepLabel-label.MuiStepLabel-alternativeLabel {
              margin-top: 10pt;
              font-size: 10pt;
            }

            .MuiTypography-root.MuiStepLabel-label.MuiStepLabel-alternativeLabel.MuiStepLabel-active,
            .MuiTypography-root.MuiStepLabel-label.MuiStepLabel-alternativeLabel.MuiStepLabel-completed {
              color: $primaryBlue;
            }

            .MuiStepIcon-root {
              color: rgb(199, 199, 199);
              height: 1.8rem;
              width: 1.8rem;
              z-index: 3;

              .MuiStepIcon-text {
                font-size: 1rem;
              }
            }

            .MuiStepIcon-root.MuiStepIcon-completed,
            .MuiStepIcon-root.MuiStepIcon-active {
              color: $primaryBlue;
              height: 1.8rem;
              width: 1.8rem;
              z-index: 3;
              background: white;

              .MuiStepIcon-text {
                font-size: 1rem;
              }
            }
          }

          .MuiFormControl-root .MuiOutlinedInput-root {
            border-radius: 0.33rem !important;
          }

          .btn {
            width: 100%;
            max-width: 100%;
            height: 40pt;
            border-radius: 0.33rem;
            font-size: 1.6rem;
            font-weight: bold;
            justify-content: center;
            align-content: center;
            margin: 0 auto;
            text-transform: none;
          }

          @media (max-width: $max-width) {
            .btn {
              width: 100%;
              max-width: 100%;
            }
          }

          .primarybtn {
            background-color: $primaryBlue;
            color: $white;
            font-weight: bold;
            transition: all 0.2s ease-in-out;
            &:hover {
              transform: scale(1.03);
            }
            &:disabled {
              background-color: $disabledGrey !important;
              color: $white !important;
              cursor: not-allowed !important;
              border: none !important;
            }
            &:focus {
              outline: none;
            }
          }

          .MuiFormControl-root {
            width: 100%;
            .MuiOutlinedInput-root {
              border-radius: 0.8rem;
            }
          }
        }
      }
    }
    @media (max-width: $max-width) {
      .grid {
        @include grid-1;
      }
    }
  }

  @media (max-width: $max-width) {
    .main {
      width: 100%;
      top: 10%;
    }
  }
}
