# Weird Mac OS thing
**/.DS_Store

# API FOLDERS 
/node_modules/
/dist/
/.nyc_output/
/.docz/

# Google Cloud Proxy
cloud_sql_proxy

# React node modules
/react/node_modules

# Google Cloud SQL password
**/.env.production