a {
  color: white;
  text-decoration: none;
}

.navBar {
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 50px;
  background: #0c152e;
  margin-bottom: 30px;
}

.navBar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  text-align: center;
}

.navBar ul a {
  display: block;
  padding: 15px 25px;
  font-size: 1.5rem;
}

/* .navBar ul li:nth-last-child(1) {
  padding-bottom: 5px;
} */

.navBar ul a:hover {
  background: rgb(45, 215, 117);
}

.navBar .logo {
  float: left;
  font-size: 1.8rem;
  font-weight: bold;
  /* display: block; */
  padding: 15px 15px;
}

/* .navBar .logo:hover {
  border-bottom: 2px solid pink;
} */

.navBar .menu {
  clear: both;
  max-height: 0;
  background: #0c152e;
  transition: max-height 0.5s ease-out;
}

.navBar .menu-icon {
  /* border: 2px solid pink; */
  padding: 23px 18px;
  position: relative;
  float: right;
  cursor: pointer;
}

.navBar .menu-icon .nav-icon {
  background-color: white;
  border-radius: 4px;
  display: block;
  height: 2px;
  width: 26px;
  position: relative;
  transition: background 0.2s ease-out;
}

.navBar .menu-icon .nav-icon::before {
  background-color: white;
  border-radius: 4px;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 5px;
  transition: all 0.2s ease-out;
  position: absolute;
}

.navBar .menu-icon .nav-icon::after {
  background-color: white;
  border-radius: 4px;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  bottom: 5px;
  transition: all 0.2s ease-out;
  position: absolute;
}

.navBar .menu-btn {
  display: none;
}

.navBar .menu-btn:checked ~ .menu {
  max-height: 400px;
}

.navBar .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.navBar .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}

.navBar .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}

/* .spacer {
  flex: 1;
} */

.navBar li:nth-last-child(3),
.navBar li:nth-last-child(2),
.navBar li:nth-last-child(1) {
  display: block;
}

/* .navBar .menu-right {
  display: none;
} */

.second-menu {
  display: none;
}

@media (min-width: 800px) {
  .active {
    border-bottom: 4px solid rgb(45, 215, 117);
  }

  .navBar {
    height: 72px;
  }

  .navBar .logo {
    padding: 23px 53px;
  }

  .second-menu {
    display: unset;
    color: white;
    font-size: 1.5rem;
  }

  .navBar .menu li {
    float: left;
  }

  .navBar .menu li a {
    padding: 24px 20px;
  }

  .navBar .menu li a:hover {
    /* padding: 15px 20px; */
    border-bottom: 2px solid rgb(45, 215, 117);
    background: transparent;
  }

  .menu li:nth-last-child(3),
  .menu li:nth-last-child(2),
  .menu li:nth-last-child(1) {
    display: none;
  }

  .navBar .menu {
    clear: none;
    float: left;
    max-height: none;
  }

  /* this is for the right panel menu */
  .menu-icon {
    display: none;
  }

  .menu2 {
    clear: both;
    max-height: 0;
    background-color: #0c152e;
    transition: 0.5s ease-out;
  }

  .navBar .menu2-icon {
    /* border: 2px solid pink; */
    /* padding: 33px 20px; */
    position: relative;
    float: right;
    cursor: pointer;
  }

  .navBar .menu2-icon .nav2-icon {
    display: block;
    float: right;
    margin: 0;
  }

  .navBar .menu2-icon .nav2-icon {
    padding: 24px 53px;
    position: relative;
    transition: background 0.2s ease-out;
  }

  .navBar .menu2-icon .nav2-icon:hover {
    border-bottom: 4px solid rgb(45, 215, 117);
  }

  .navBar .menu2-btn {
    display: none;
  }

  .navBar .menu2-btn:checked ~ .menu2 {
    max-height: 245px;
  }

  .navBar .menu2 {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    width: 200px;
    position: absolute;
    top: 70px;
    right: 0px;
    /* padding-right: 40px; */
    text-align: left;
  }

  .navBar .menu2 li {
    display: block;
    /* padding: 15px 25px; */
  }

  .navBar .menu2 a:hover {
    /* background: lightblue; */
    background: rgb(45, 215, 117);
  }
}
