@import "./Scss/variables.scss";
@import "./Scss/mixins.scss";

body {
  background-color: $offWhite;
}

.container {
  @include container;

  .grid {
    @include grid-12;

    .grid-card {
      grid-column: 5/9;
      text-align: center;

      .btn {
        @include button;
      }

      // @media (max-width: $max-width) {
      //   .btn {
      //     width: 80%;
      //   }
      // }

      .primarybtn {
        @include primary-button;
      }

      .transparentbtn {
        @include transparent-button;
      }
    }
  }

  @media (max-width: $max-width) {
    .grid {
      @include grid-4;

      .grid-card {
        grid-column: 1/5;
      }
    }
  }
}
