//Colours
$primaryBlue: #4070e0;
$secondaryBlue: #0c152e;
$green: #2dd775;
$offWhite: #fafafa;
$white: #fff;
$disabledGrey: #d6d6d6;

//Responsive width
$max-width: 760px;

body {
  background-color: $offWhite;
}

//Coreable Container
.container {
  padding-top: 96px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  text-align: center;
  color: white;
  width: 312pt;
}

@media (max-width: $max-width) {
  .container {
    // padding-top: 64px;
    width: 90%;
  }
}

//Coreable Branded Button
.btn {
  width: 312pt;
  height: 40pt;
  border-radius: 0.33rem;
  font-size: 1.6rem;
  font-weight: bold;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  text-transform: none;
}

@media (max-width: $max-width) {
  .btn {
    width: 100%;
  }
}

.primarybtn {
  background-color: $primaryBlue;
  color: $white;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: $primaryBlue;
    transform: scale(1.03);
    cursor: pointer;
  }
  &:disabled {
    background-color: $disabledGrey !important;
    color: $white !important;
    cursor: not-allowed !important;
    border: none !important;
  }
  &:focus {
    outline: none;
  }
}

.transparentbtn {
  border: 1px solid $white;
  background-color: transparent;
  color: $white;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.03);
  }
}

a {
  text-decoration: none;
}
