
.landing-page {
    background: rgb(11, 21, 47);
    position: absolute;
    /* use top to position something absolutely */
    top: 48pt;
    bottom: 0;
    width: 100%;
  }

.container {
    justify-content: center;
    align-content: center;
    margin: 0 auto ;
    margin-top: 70px;
    text-align: center;
    color: white;
}

.text {
    margin-top: 31pt;
    font-size: 16pt;
    color: white;
}

h1 {
    font-size: 30pt;
}

.btn-landing-page {
    width: 30%;
    height: 48pt;
    border-radius: 4pt;
    border: none;
    background-color: rgb(64, 112, 224);
    color: white;
    font-size: 16pt;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    margin: 0 auto ;
    margin-top: 65pt;
  }

  .btn-login {
    width: 100%;
    height: 48pt;
    border-radius: 4pt;
    border: none;
    background-color: rgb(64, 112, 224);
    color: white;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 8pt;
  }

  .btn-sign-up {
    width: 100%;
    height: 48pt;
    border-radius: 4pt;
    border: none;
    background-color: rgb(64, 112, 224);
    color: white;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 7pt;
  }

  @media (max-width: 780px){
    .btn-landing-page {
      width: 60%;
    }

    .container {
        margin-top: 60px;
    }

  }

 