.MuiFormControl-root {
  width: 100%;
  border-radius: 4pt;
  .MuiOutlinedInput-root {
    fieldset {
      // border: none;
    }
  }
}

.MuiOutlinedInput-input {
  font-size: 1.6rem;
  font-weight: bold;
}
