//Colours
$primaryBlue: #4070e0;
$secondaryBlue: #0c152e;
$green: #2dd775;
$offWhite: #fafafa;
$white: #fff;
$disabledGrey: #d6d6d6;

//Responsive width
$max-width: 760px;

.team-container {
  background: rgb(245, 245, 245);
  position: relative;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  //overflow:auto doesnt allow it to scroll up.
  // overflow: auto;
  min-height: 100vh;

  .top {
    background: $secondaryBlue;
    position: absolute;
    top: 0px;
    padding-top: 140px;
    margin: 0 auto;
    text-align: center;
    height: 50%;
    width: 100%;
    z-index: 0;
    color: $white;
    // background: $secondaryBlue;
    // margin: 0 auto;
    // text-align: center;
    // height: 50%;
    // padding-top: 100px;

    .facet-heading-desc {
      width: 40%;
      margin: 0 auto;
      text-align: center;

      h1,
      p {
        color: white;
      }

      h1 {
        font-size: 3rem;
      }
    }

    @media (max-width: $max-width) {
      .facet-heading-desc {
        width: 70%;
      }
    }
  }

  @media (max-width: $max-width) {
    .top {
      height: 40%;
    }
  }

  .main {
    // z-index: 3;
    background: transparent;
    border: none;
    position: absolute;
    top: 45%;
    // height: ;
    //if this is dynamic, mobile capability is bad
    width: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .inside-main {
      min-height: 200px;
      width: 100%;
      min-width: 300px;
      background: white;
      border-radius: 0.33rem;
      margin: 10px;
      padding: 20px;

      .slider-bar-container {
        // height: 30px;
        width: 100%;
        margin: 0;
        display: flex;
        position: relative;
        background: transparent;

        .slider-bar-border-container {
          position: absolute;
          display: flex;
          top: 14px;
          left: 0;
          height: 33px;
          width: 100%;
          margin: 0;
          padding: 0;
          margin-bottom: 25px;
          background: transparent;
          z-index: 0;
          position: absolute;
          display: flex;
          justify-content: space-evenly;

          .bar {
            //dots
            width: 5px;
            height: 5px;
            // top: -10px;
            top: 35px;
            border-radius: 50%;
            background: rgb(214, 214, 214);
            position: relative;
            left: 1px;
          }

          .bar:nth-child(1) {
            left: 2px;
          }

          .bar:nth-last-child(2) {
            left: -1px;
          }

          .bar:nth-last-child(1) {
            left: -3px;
          }
        }

        input[type="range"] {
          -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
          width: 100%; /* Specific width is required for Firefox. */
          background: transparent; /* Otherwise white in Chrome */
          z-index: 1;
        }

        //Thumb styling=================================
        /* Special styling for WebKit/Blink */
        input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
          border: transparent;
          height: 26px;
          width: 20px;
          border-radius: 0.33rem;
          background: transparent;
          cursor: pointer;
          margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
          // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
        }

        /* All the same stuff for Firefox */
        input[type="range"]::-moz-range-thumb {
          border: transparent;
          height: 26px;
          width: 20px;
          border-radius: 0.33rem;
          background: transparent;
          cursor: pointer;
        }

        /* All the same stuff for IE */
        input[type="range"]::-ms-thumb {
          border: transparent;
          height: 26px;
          width: 20px;
          border-radius: 0.33rem;
          background: transparent;
          cursor: pointer;
        }

        input[type="range"]:focus {
          outline: none;
        }

        //TRACK styling =====================
        input[type="range"]::-webkit-slider-runnable-track {
          width: 100%;
          height: 30px;
          cursor: pointer;
          // background: rgb(64, 112, 224);
          background: transparent;
          border-radius: 0.33rem;
        }

        input[type="range"]:focus::-webkit-slider-runnable-track {
          // background: rgb(64, 112, 224);
          background: transparent;
        }

        input[type="range"]::-moz-range-track {
          width: 100%;
          height: 30px;
          cursor: pointer;
          background: rgb(64, 112, 224);
          border-radius: 0.33rem;
        }

        input[type="range"]::-ms-track {
          width: 100%;
          height: 30px;
          cursor: pointer;
          background: transparent;
          border-color: transparent;
          border-width: 16px 0;
          color: transparent;
        }
        input[type="range"]::-ms-fill-lower {
          background: rgb(64, 112, 224);
          border-radius: 0.33rem;
        }
        input[type="range"]:focus::-ms-fill-lower {
          background: rgb(64, 112, 224);
        }
        input[type="range"]::-ms-fill-upper {
          background: rgb(64, 112, 224);
          border-radius: 0.33rem;
        }
        input[type="range"]:focus::-ms-fill-upper {
          background: rgb(64, 112, 224);
        }
      }

      .element-div {
        position: relative;
        transform: translateX(25%);
      }
      .survey-members {
        background: rgb(66, 113, 249);
        width: 72pt;
        height: 32pt;
        border-radius: 4pt;
        margin-left: 56pt;
      }
      .member {
        margin: 0 auto;
        transform: translateY(50%);
        color: white;
        font-size: 14pt;
      }

      // trait.scss file

      .select-user-button {
        margin: 10px;
        border-radius: 0.33rem;
        // margin-top: 25px;
      }

      .team-member {
        margin: auto;
        width: 85%;
        display: flex;
        flex-wrap: wrap;
      }

      button {
        font-weight: bold;
      }

      .MuiSlider-thumb.Mui-disabled {
        width: 8px;
        height: 24px;
        margin-top: 0;
        margin-left: -4px;
      }
      @media (max-width: $max-width) {
        .select-user-button {
          margin: 5px;
        }
      }
    }

    .inside-main:nth-child(1) {
      margin-top: 20px;
    }

    .btn {
      width: 60%;
      // max-width: 30%;
      height: 40pt;
      border-radius: 0.33rem;
      font-size: 1.6rem;
      font-weight: bold;
      justify-content: center;
      align-content: center;
      // margin: 10px auto;
      text-transform: none;
    }

    @media (max-width: $max-width) {
      .btn {
        width: 90%;
        font-size: 1.4rem;
      }
    }

    .primarybtn {
      background-color: rgb(64, 112, 224);
      color: white;
      font-weight: bold;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
      &:disabled {
        background-color: lightgrey !important;
        color: white !important;
        cursor: not-allowed !important;
        border: none !important;
      }
      &:focus {
        outline: none;
      }
    }

    .transparentbtn {
      border: none;
      background-color: transparent;
      color: rgb(64, 112, 224);
      font-weight: bold;
      &:hover {
        // color: white;
        // background-color: rgb(64, 112, 224);
        background-color: transparent;
        border: 2px solid rgb(64, 112, 224);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  @media (max-width: 700px) {
    .main {
      width: 100%;
      top: 310px;
    }
  }
}

.facet-card {
  background-color: white;
  padding: 32pt;
  margin: 16pt;
  .facet-name {
    color: black;
    font-size: 24pt;
  }
  .facet-heading {
    color: rgb(66, 113, 249);
    margin-top: 24pt;
    margin-bottom: 0pt;
  }
  .facet-info {
    margin-bottom: 31pt;
    margin-top: 5pt;
  }
}
