@import "../../Scss/mixins.scss";
@import "../../Scss/variables.scss";

.review-container {
  background: rgb(245, 245, 245);
  position: relative;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  .top {
    @include top;

    .facet-heading-desc {
      width: 40%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .stepper-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        height: 40px;
        width: 70%;
        margin-bottom: 30px;
      }

      h1,
      p {
        color: white;
      }

      h1 {
        @include h1;
      }
    }
    @media (max-width: $max-width) {
      .facet-heading-desc {
        width: 60%;
      }
    }
  }

  @media (max-width: $max-width) {
    .top {
      height: 40%;
    }
  }

  .main-review {
    @include main;
    display: inline;
    top: 35%;

    .grid-review {
      @include grid-1-6-bars;

      .inside-main-review {
        min-height: 200px;
        background: white;
        border-radius: 0.33rem;
        padding: 20px;

        .slider-bar-container {
          // height: 30px;
          width: 100%;
          margin: 0;
          display: flex;
          position: relative;
          background: transparent;

          .slider-bar-border-container {
            position: absolute;
            display: flex;
            top: 14px;
            left: 0;
            height: 33px;
            width: 100%;
            margin: 0;
            padding: 0;
            margin-bottom: 25px;
            background: transparent;
            z-index: 0;
            position: absolute;
            display: flex;
            justify-content: space-evenly;

            .bar {
              //dots
              width: 5px;
              height: 5px;
              // top: -10px;
              top: 35px;
              border-radius: 50%;
              background: rgb(214, 214, 214);
              position: relative;
              left: 1px;
            }

            .bar:nth-child(1) {
              left: 2px;
            }

            .bar:nth-last-child(2) {
              left: -1px;
            }

            .bar:nth-last-child(1) {
              left: -3px;
            }
          }

          input[type="range"] {
            -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
            width: 100%; /* Specific width is required for Firefox. */
            background: transparent; /* Otherwise white in Chrome */
            z-index: 1;
          }

          //Thumb styling=================================
          /* Special styling for WebKit/Blink */
          input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: transparent;
            height: 26px;
            width: 20px;
            border-radius: 0.33rem;
            background: transparent;
            cursor: pointer;
            margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
            // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
          }

          /* All the same stuff for Firefox */
          input[type="range"]::-moz-range-thumb {
            border: transparent;
            height: 26px;
            width: 20px;
            border-radius: 0.33rem;
            background: transparent;
            cursor: pointer;
          }

          /* All the same stuff for IE */
          input[type="range"]::-ms-thumb {
            border: transparent;
            height: 26px;
            width: 20px;
            border-radius: 0.33rem;
            background: transparent;
            cursor: pointer;
          }

          input[type="range"]:focus {
            outline: none;
          }

          //TRACK styling =====================
          input[type="range"]::-webkit-slider-runnable-track {
            width: 100%;
            height: 30px;
            cursor: pointer;
            // background: rgb(64, 112, 224);
            background: transparent;
            border-radius: 0.33rem;
          }

          input[type="range"]:focus::-webkit-slider-runnable-track {
            // background: rgb(64, 112, 224);
            background: transparent;
          }

          input[type="range"]::-moz-range-track {
            width: 100%;
            height: 30px;
            cursor: pointer;
            background: rgb(64, 112, 224);
            border-radius: 0.33rem;
          }

          input[type="range"]::-ms-track {
            width: 100%;
            height: 30px;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            border-width: 16px 0;
            color: transparent;
          }
          input[type="range"]::-ms-fill-lower {
            background: rgb(64, 112, 224);
            border-radius: 0.33rem;
          }
          input[type="range"]:focus::-ms-fill-lower {
            background: rgb(64, 112, 224);
          }
          input[type="range"]::-ms-fill-upper {
            background: rgb(64, 112, 224);
            border-radius: 0.33rem;
          }
          input[type="range"]:focus::-ms-fill-upper {
            background: rgb(64, 112, 224);
          }
        }

        .element-div {
          position: relative;
          transform: translateX(25%);
        }
        .survey-members {
          background: rgb(66, 113, 249);
          width: 72pt;
          height: 32pt;
          border-radius: 4pt;
          margin-left: 56pt;
        }
        .member {
          margin: 0 auto;
          transform: translateY(50%);
          color: white;
          font-size: 14pt;
        }

        // trait.scss file

        .select-user-button {
          margin: 10px;
          border-radius: 0.33rem;
          // margin-top: 25px;
        }

        .team-member {
          margin: auto;
          width: 85%;
          display: flex;
          flex-wrap: wrap;
        }

        button {
          font-weight: bold;
        }

        .MuiSlider-thumb.Mui-disabled {
          width: 8px;
          height: 24px;
          margin-top: 0;
          margin-left: -4px;
        }
        @media (max-width: $max-width) {
          .select-user-button {
            margin: 5px;
          }
        }
      }

      .inside-main:nth-child(1) {
        margin-top: 20px;
      }
    }
    @media (max-width: $max-width) {
      .grid {
        @include grid-1;

        .grid-card {
          grid-column: 1/5;
        }
      }
    }

    .btn-container {
      width: 400px;
      margin: auto;
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .btn {
        @include button;
      }

      @media (max-width: $max-width) {
        .btn {
          width: 90%;
          font-size: 1.4rem;
        }
      }

      .primarybtn {
        background-color: rgb(64, 112, 224);
        color: white;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.03);
        }
        &:disabled {
          background-color: lightgrey !important;
          color: white !important;
          cursor: not-allowed !important;
          border: none !important;
        }
        &:focus {
          outline: none;
        }
      }

      .transparentbtn {
        border: none;
        background-color: transparent;
        color: rgb(64, 112, 224);
        font-weight: bold;
        &:hover {
          // color: white;
          // background-color: rgb(64, 112, 224);
          background-color: transparent;
          transition: all 0.2s ease-in-out;
        }
      }
    }
    @media (max-width: $max-width) {
      .btn-container {
        width: 100%;
      }
    }
  }

  @media (max-width: $max-width) {
    .main {
      width: 90%;
      top: 40%;
      // top: 310px;
    }
  }
}

.facet-card {
  background-color: white;
  padding: 32pt;
  margin: 16pt;
  .facet-name {
    color: black;
    font-size: 24pt;
  }
  .facet-heading {
    color: rgb(66, 113, 249);
    margin-top: 24pt;
    margin-bottom: 0pt;
  }
  .facet-info {
    margin-bottom: 31pt;
    margin-top: 5pt;
  }
}
