@import "../../Scss/mixins.scss";
@import "../../Scss/variables.scss";

.review-container {
  background: rgb(245, 245, 245);
  position: relative;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  .top {
    @include top;

    .facet-heading-desc {
      width: 550px;
      margin: 0 auto;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: column;

      .text-div {
        width: 80%;

        div {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: 0;
          text-align: center;
        }

        span {
          display: inline;
          border-bottom: 1px solid white;
          border-right: 1px solid white;
          height: 6px;
          width: 6px;
          margin-bottom: 10px;
          position: absolute;
          top: 195px;
          right: 35%;
        }

        @media (max-width: $max-width) {
          span {
            right: 30px;
          }
        }
      }
      @media (max-width: $max-width) {
        .text-div {
          width: 100%;
        }
      }

      .stepper-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        height: 40px;
        width: 70%;
        margin-bottom: 30px;
      }

      h1,
      p {
        color: white;
      }

      h1 {
        @include h1;
      }
    }
    @media (max-width: $max-width) {
      .facet-heading-desc {
        width: 80%;
      }
    }
  }

  .main-review {
    @include main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 35%;

    .grid-review {
      @include grid-1-6-bars;
      margin-top: 20px;
      margin-bottom: 20px;
      justify-items: center;
      grid-gap: 20px;

      .inside-main-review {
        position: relative;
        min-height: 200px;
        background: white;
        border-radius: 0.33rem;
        @include boxshadow;
        // padding: 20px;
        width: 445px;

        .text-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          // align-items: center;
          background: white;
          border-radius: 4pt 4pt 0 0;
          border-bottom: 1px solid #d6d6d6;
          width: 100%;
          min-height: 77px;
          text-align: center;

          .inside-text-container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 10px;
            left: 0;
            width: 100%;
          }
        }

        .trait-container {
          padding: 20px;
        }

        .slider-bar-container {
          // height: 30px;
          width: 100%;
          margin: 0;
          display: flex;
          position: relative;
          background: transparent;

          .slider-bar-border-container {
            position: absolute;
            display: flex;
            top: -20px;
            left: 0;
            height: 33px;
            width: 100%;
            margin: 0;
            padding: 0;
            margin-bottom: 25px;
            background: transparent;
            z-index: 0;
            position: absolute;
            display: flex;
            justify-content: space-around;

            .bar {
              //dots
              width: 5px;
              height: 5px;
              // top: -10px;
              top: 35px;
              border-radius: 50%;
              background: rgb(214, 214, 214);
              position: relative;
              left: 1px;
            }

            .bar:nth-child(1) {
              left: 2px;
            }

            .bar:nth-last-child(2) {
              left: -1px;
            }

            .bar:nth-last-child(1) {
              left: -3px;
            }
          }

          input[type="range"] {
            -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
            width: 100%; /* Specific width is required for Firefox. */
            background: transparent; /* Otherwise white in Chrome */
            z-index: 1;
          }

          //Thumb styling=================================
          /* Special styling for WebKit/Blink */
          input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: transparent;
            height: 26px;
            width: 20px;
            border-radius: 0.33rem;
            background: transparent;
            cursor: pointer;
            margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
            // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
          }

          /* All the same stuff for Firefox */
          input[type="range"]::-moz-range-thumb {
            border: transparent;
            height: 26px;
            width: 20px;
            border-radius: 0.33rem;
            background: transparent;
            cursor: pointer;
          }

          /* All the same stuff for IE */
          input[type="range"]::-ms-thumb {
            border: transparent;
            height: 26px;
            width: 20px;
            border-radius: 0.33rem;
            background: transparent;
            cursor: pointer;
          }

          input[type="range"]:focus {
            outline: none;
          }

          //TRACK styling =====================
          input[type="range"]::-webkit-slider-runnable-track {
            width: 100%;
            height: 30px;
            cursor: pointer;
            // background: rgb(64, 112, 224);
            background: transparent;
            border-radius: 0.33rem;
          }

          input[type="range"]:focus::-webkit-slider-runnable-track {
            // background: rgb(64, 112, 224);
            background: transparent;
          }

          input[type="range"]::-moz-range-track {
            width: 100%;
            height: 30px;
            cursor: pointer;
            // background: rgb(64, 112, 224);
            background: transparent;
            border-radius: 0.33rem;
          }

          input[type="range"]::-ms-track {
            width: 100%;
            height: 30px;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            border-width: 16px 0;
            color: transparent;
          }
          input[type="range"]::-ms-fill-lower {
            background: rgb(64, 112, 224);
            border-radius: 0.33rem;
          }
          input[type="range"]:focus::-ms-fill-lower {
            background: rgb(64, 112, 224);
          }
          input[type="range"]::-ms-fill-upper {
            background: rgb(64, 112, 224);
            border-radius: 0.33rem;
          }
          input[type="range"]:focus::-ms-fill-upper {
            background: rgb(64, 112, 224);
          }
        }

        .element-div {
          position: relative;
          transform: translateX(25%);
        }
        .survey-members {
          background: rgb(66, 113, 249);
          width: 72pt;
          height: 32pt;
          border-radius: 4pt;
          margin-left: 56pt;
        }
        .member {
          margin: 0 auto;
          transform: translateY(50%);
          color: white;
          font-size: 14pt;
        }

        // trait.scss file

        .select-user-button {
          margin: 10px;
          border-radius: 0.33rem;
          // margin-top: 25px;
        }

        .team-member {
          margin: auto;
          width: 85%;
          display: flex;
          flex-wrap: wrap;
        }

        button {
          font-weight: bold;
        }

        .MuiSlider-thumb.Mui-disabled {
          width: 8px;
          height: 24px;
          margin-top: 0;
          margin-left: -4px;
        }
        @media (max-width: $max-width) {
          .select-user-button {
            margin: 5px;
          }
        }
      }
      @media (max-width: $max-width) {
        .inside-main-review {
          width: 90vw;
        }
      }

      .inside-main:nth-child(1) {
        margin-top: 20px;
      }
    }
    @media (max-width: $max-width) {
      .grid-review {
        @include grid-1;
        width: 100vw;
        grid-gap: 20px;
        margin-bottom: 20px;

        .grid-card-review {
          grid-column: 1/5;
        }
      }
    }

    .btn-container {
      width: 400px;
      margin: auto;
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .btn {
        @include button;
        border-radius: 8pt;
      }

      @media (max-width: $max-width) {
        .btn {
          width: 90%;
          font-size: 1.4rem;
        }
      }

      .primarybtn {
        @include primary-button;
      }

      .transparentbtn {
        @include transparent-button-blue-text;
      }
    }
    @media (max-width: $max-width) {
      .btn-container {
        width: 100%;
      }
    }
  }

  @media (max-width: $max-width) {
    .main-review {
      // width: 90%;
      top: 40%;
      // top: 310px;
    }
  }
}
