//Mixins

//Buttons
//Coreable Button Template
@mixin button {
  width: 100%;
  height: 40pt;
  border-radius: 0.33rem;
  font-size: 1.6rem;
  font-weight: bold;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  text-transform: none;
}

//Coreable Primary Button Template
@mixin primary-button {
  background-color: $primaryBlue;
  color: $white;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border: none;
  &:hover {
    background: $primaryBlue;
    transform: scale(1.03);
    cursor: pointer;
  }
  &:disabled {
    background-color: $disabledGrey !important;
    color: $white !important;
    cursor: not-allowed !important;
    border: none !important;
  }
  &:focus {
    outline: none;
  }
}

//Coreable Transparent Button Template - landing page ONLY
@mixin transparent-button {
  border: 1px solid $white;
  background-color: transparent;
  color: $white;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.03);
  }
}

//Coreable Transparent Button Template - other pages
@mixin transparent-button-blue-text {
  border: none;
  background-color: transparent;
  color: rgb(64, 112, 224);
  font-weight: bold;
  &:hover {
    background-color: transparent;
    transition: all 0.2s ease-in-out;
  }
  &:disabled {
    color: lightgray !important;
    cursor: not-allowed !important;
    border: none !important;
  }
}
//Input Field

//Grid
@mixin grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 8px;
  max-width: 972px;
  margin: 0 auto;
}

@mixin grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  max-width: 648px;
  margin: 0 auto;
}

//For Mobile
@mixin grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  width: 324px;
  margin: 0 auto;
}

@mixin grid-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 8px;
  width: 324px;
  margin: 0 auto;
}

//Grid 12 / 6 bar width
@mixin grid-1-6-bars {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 8px;
  width: 486px;
  margin: 0 auto;
}

//Container
@mixin container {
  padding-top: 96px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  text-align: center;
  color: white;
  width: 100%;
}

//Fonts
@mixin h1 {
  font-size: 3.2rem;
  font-weight: bolder;
  margin: 0;
}

@mixin h2 {
  font-size: 3.2rem;
  font-weight: normal;
  margin: 0;
}

@mixin body-font {
  font-size: 1.6rem;
}

//Layout
//Top Navy Box
@mixin top {
  background: $secondaryBlue;
  position: absolute;
  top: 0px;
  padding-top: 80px;
  margin: 0 auto;
  text-align: center;
  height: 35%;
  width: 100%;
  z-index: 0;
  color: $white;
}

//Main Div - Transparent
@mixin main {
  background: transparent;
  border: none;
  position: absolute;
  top: 15%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
