//Variables

//Colors
$primaryBlue: #4070e0;
$secondaryBlue: #0c152e;
$green: #2dd775;
$offWhite: #fafafa;
$white: #fff;
$disabledGrey: #d6d6d6;

//Front Sizes
$heading1: 3.2rem;
$body: 1.6rem;
$caption: 1.4rem;

//Responsive Width
$max-width: 760px;
