.trait-card {
  width: 40vw;

  .rating {
    -webkit-appearance: none;
    height: 24pt;
    width: 45vw;
    max-width: 90%;
    border-radius: 4pt;
    background-color: rgb(214, 214, 214);
    background: linear-gradient(
      90deg,
      rgb(66, 113, 249) 20%,
      rgb(214, 214, 214) 20%
    );
    padding: 0;
  }

  @media (max-width: 1024px) {
    .rating {
      width: 60vw;
    }
  }

  .rating::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 24pt;
    width: 8pt;
    border-radius: 4pt;
    background: rgb(66, 113, 249);
  }

  .rating:focus {
    outline: none;
  }

  .team-member {
    margin: auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
  }

  button {
    // background: rgb(66, 113, 249);
    font-weight: bold;
  }

  // button.active {
  //   background: rgb(66, 113, 249);
  // }

  // button.inactive {
  //   background: rgba(66, 113, 249, 0.3);
  // }

  .MuiSlider-thumb.Mui-disabled {
    width: 8px;
    height: 24px;
    margin-top: 0;
    margin-left: -4px;
  }
}

@media (max-width: 776px) {
  .trait-card {
    width: 80vw;
  }
}
