.toggle-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background: #0b152f;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  transition: all 0.5s ease-in-out;
}

.toggle-button:hover {
  cursor: pointer;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-line {
  width: 25pt;
  height: 2pt;
  border-radius: 4pt;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.toggle-button-line::before,
.toggle-button-line::after {
  content: "";
  position: absolute;
  width: 25pt;
  height: 2pt;
  border-radius: 4pt;
  background-color: white;
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out;
}

.toggle-button-line::before {
  transform: translateY(-8px);
}
.toggle-button-line::after {
  transform: translateY(8px);
}

.toggle-button-open {
  cursor: pointer;
}

/* animation */

.toggle-button-open .toggle-button-line {
  transform: translateX(-50px);
  background: transparent;
}

.toggle-button-open .toggle-button-line::before {
  transform: rotate(45deg) translate(25px, -25px);
}

.toggle-button-open .toggle-button-line::after {
  transform: rotate(-45deg) translate(25px, 25px);
}
