.sideDrawer-logo {
    padding-left: 32pt;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.sideDrawer-logo p {
    font-weight: bold;
    color: white;
    font-size: 16pt;
}

.close-sidedrawer {
    background-color: transparent;
    color: white;
    border: none;
    height: 20px;
    width: 20px;
    padding: 0;
    font-size: 16pt;
    font-weight: 1.2rem;
    margin-right: 40pt;
    margin-bottom: 5pt;
}

.spacer {
    flex: 1;
}

.sideDrawer {
    height: 50%;
    background-color: rgb(15, 28, 63);
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    /* max-width: 375pt; */
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.sideDrawer.open {
    transform: translateX(0);
}

.sideDrawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.sideDrawer li {
    padding: 10pt 0;
}

.sideDrawer a {
    color: rgb(209, 209, 209);
    text-decoration: none;
    font-size: 16pt;
    width: 100%;
}

.sideDrawer a:hover,
.sideDrawer a:active {
    color: white;
    background-color: rgb(11, 11, 11);
}

/* @media (max-width: 901px){
    .sideDrawer {
        display: none;
    }
} */

@media (max-width: 900px){
    .sideDrawer {
        width: 100%;
    }
}