.team-rank-container {
  border: none;
  display: flex;
  align-items: center;
  width: 100%;

  .team-rating {
    background: rgb(66, 113, 249);
    height: 12px;
    border-radius: 4px;
    margin-left: 5px;
  }
}
